.marginToTop{
    margin-top: 30px !important;
}

.marginToComponent{
    margin-top: 10px !important;
}

@media only screen and (min-width: 1000px) {
    /* .autoAjuste{
        max-width: 46% !important;
    } */
}

@media only screen and (max-width: 700px) {
    .autoAjuste{
        max-width: 80% !important;
    }
}

.squareGreen{
    border-style: solid; border-width:1px; border-color: black; background-color: #39FF33; width: 33px !important; height: 30px !important; max-width: 33px !important; max-height: 30px;
}

.squareYellow{
    border-style: solid; border-width:1px; border-color:black; background-color: #FFFF00; width: 33px !important; height: 30px !important; max-width: 33px !important; max-height: 30px;
}

.squareOrange{
    border-style: solid; border-width:1px; border-color: black; background-color: #FFA500; width: 33px !important; height: 30px !important; max-width: 33px !important; max-height: 30px;
}

.squareRed{
    border-style: solid; border-width:1px; border-color:black; background-color: #FF0000; width: 33px !important; height: 30px !important; max-width: 33px !important; max-height: 30px;
}