<div class="contentBody">

<app-breadcrumb style="position: relative;"></app-breadcrumb>

<div class="row">
  <mat-card class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <mat-card-content class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <mat-card-title>Plano de Metas do Município - {{cidade.nome}}</mat-card-title>
      <br>
      <label><b style=" text-transform: uppercase;">{{objetoPlanoMeta.apresentacao}}</b><br>
      </label>
      <div [ngxSummernoteView]="objetoPlanoMeta?.descricao"></div>
      <br>
      <hr>

      <section class="downloads" *ngIf="this.objetoPlanoMeta?.arquivo">
        <div>
          <div style="text-align: center">
            <button type="button" class="btn-downloads-transparent" (click)="validacaoDownloadFilePlanoMetas()">DOWNLOAD DO ARQUIVO PLANO DE METAS</button>
          </div>
        </div>
      </section>

      <mat-card class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button mat-mini-fab class="float-right" style="background-color:#47825E;color:white" id="btnImprimir"
              matTooltip="Baixar planilha" (click)="validacaoDownloadPlanoMetas()">
              <fa name="download" size="md"></fa>
            </button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <colgroup>
                  <col width="37%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">
                  <col width="7%">

                </colgroup>
                <thead>
                  <tr>
                    <th colspan="1" class="center_border" style="border-top: 2px solid #dee2e6;"></th>
                    <th colspan="4" class="center_border" style="border-top: 2px solid #dee2e6;">Anos Preenchidos</th>
                    <th colspan="4" class="center_border" style="border-top: 2px solid #dee2e6;">Metas Anuais</th>
                    <th colspan="2" class="center_border" style="border-top: 2px solid #dee2e6;"></th>
                  </tr>
                  <tr>
                    <th class="center_border">Indicadores</th>
                    <th class="center_border">{{objetoPlanoMetaAno.primeiroAnoMandato}}</th>
                    <th class="center_border">{{objetoPlanoMetaAno.segundoAnoMandato}}</th>
                    <th class="center_border">{{objetoPlanoMetaAno.terceiroAnoMandato}}</th>
                    <th class="center_border">{{objetoPlanoMetaAno.quartoAnoMandato}}</th>
                    <th class="center_border">Meta {{objetoPlanoMetaAno.primeiroAnoMandato}}</th>
                    <th class="center_border">Meta {{objetoPlanoMetaAno.segundoAnoMandato}}</th>
                    <th class="center_border">Meta {{objetoPlanoMetaAno.terceiroAnoMandato}}</th>
                    <th class="center_border">Meta {{objetoPlanoMetaAno.quartoAnoMandato}}</th>
                    <th class="center_border">Meta Final</th>

                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of listaPlanoMetaIndicador">
                    <tr data-toggle="collapse" [attr.data-target]="'#accordion' + item.idIndicador"
                    class="clickable" style="cursor: pointer;">
                      <td class="indicador_col_no_align underline-on-hover" (click)="buscarHistoricoMetas(item.idIndicador, item.id)">{{item.nomeIndicador}}</td>
                      <td class="indicador_col">{{item.valorPreenchidoPrimeiroAno ? item.valorPreenchidoPrimeiroAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.valorPreenchidoSegundoAno ? item.valorPreenchidoSegundoAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.valorPreenchidoTerceiroAno ? item.valorPreenchidoTerceiroAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.valorPreenchidoQuartoAno ? item.valorPreenchidoQuartoAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.metaAnualPrimeiroAno ? item.metaAnualPrimeiroAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.metaAnualSegundoAno ? item.metaAnualSegundoAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.metaAnualTerceiroAno ? item.metaAnualTerceiroAnoApresentacao : '---' }}</td>
                      <td class="indicador_col">{{item.metaAnualQuartoAno ? item.metaAnualQuartoAnoApresentacao : '---' }}</td>
                      <td class="indicador_col" style="border-right: 2px solid #dee2e6;">{{item.metaFinal ? item.metaAnualQuartoAnoApresentacao : '---' }}</td>
                    </tr>
                    <tr [attr.colspan]="10">
                      <td [attr.colspan]="10" [attr.id]="'accordion' + item.idIndicador" class="collapse">
                        <div class="row" style="width: 100%;">
                          <div class="col-lg-12 col-md-12">
                            <br>
                            <h5>Detalhes do Indicador - {{item.nomeIndicador}}</h5>
                            <hr>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <p>
                              <b>Descrição do indicador:</b> <br>
                              {{item.descricaoIndicador}}
                            </p>
                            <p>
                              <b>ODS:</b><br>
                              <a [href]="APP_URL+'institucional/ods/'+item.idOds" target="_blank">
                                <img _ngcontent-bfm-c22="" [src]="API_URL+'ods/imagem/'+item.idOds" width="80" height="80" >
                              </a>
                            </p>
                            <p>
                              <b>Meta ODS:</b><br>
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip color="accent" [matTooltip]="item.metaOds" selected><b>{{item.metaOdsNumero}}</b></mat-chip>
                              </mat-chip-list>
                            </p>
                            <p *ngIf="item.orcamentoPrevisto != null">
                            <b>Orçamento Previsto: </b>
                              <span [matTooltip]="item.orcamentoPrevisto">{{item.orcamentoPrevisto | currency:'BRL':true:'1.2-2'}}</span>
                            </p>
                            <p *ngIf="item.orcamentoExecutado != null">
                              <b>Orçamento Executado: </b>
                                <span [matTooltip]="item.orcamentoExecutado">{{item.orcamentoExecutado | currency:'BRL':true:'1.2-2'}}</span>
                            </p>

                          </div>
                          <div class="col-lg-8 col-md-8">
                            <br>
                            <!-- <div class="table-responsive">
                              <table class="table table-striped table-sm">
                                <thead>
                                  <tr class="indicador_col">
                                    <th>Ano</th>
                                    <th>Valor preenchido</th>
                                    <th>Variação em relação ao ano anterior (%)</th>
                                    <th>Meta anual</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="indicador_col">
                                    <td>{{objetoPlanoMetaAno.primeiroAnoMandato}}</td>
                                    <td>{{item.valorPreenchidoPrimeiroAno ? item.valorPreenchidoPrimeiroAno : '---' }}
                                    </td>
                                    <td>{{item.variacaoPrimeiroAno ? item.variacaoPrimeiroAno : '---'}}</td>
                                    <td>{{item.metaAnualPrimeiroAno ? item.metaAnualPrimeiroAno : '---'}}</td>
                                  </tr>
                                  <tr class="indicador_col">
                                    <td>{{objetoPlanoMetaAno.segundoAnoMandato}}</td>
                                    <td>{{item.valorPreenchidoSegundoAno ? item.valorPreenchidoSegundoAno : '---'}}</td>
                                    <td>{{item.variacaoSegundoAno ? item.variacaoSegundoAno : '---'}}</td>
                                    <td>{{item.metaAnualSegundoAno ? item.metaAnualSegundoAno : '---'}}</td>
                                  </tr>
                                  <tr class="indicador_col">
                                    <td>{{objetoPlanoMetaAno.terceiroAnoMandato }}</td>
                                    <td>{{item.valorPreenchidoTerceiroAno ? item.valorPreenchidoTerceiroAno : '---'}}</td>
                                    <td>{{item.variacaoTerceiroAno ? item.variacaoTerceiroAno : '---'}}</td>
                                    <td>{{item.metaAnualTerceiroAno ? item.metaAnualTerceiroAno : '---'}}</td>
                                  </tr>
                                  <tr class="indicador_col">
                                    <td>{{objetoPlanoMetaAno.quartoAnoMandato}}
                                    </td>
                                    <td>{{item.valorPreenchidoQuartoAno ? item.valorPreenchidoQuartoAno : '---'}}</td>
                                    <td>{{item.variacaoQuartoAno ? item.variacaoQuartoAno : '---'}}</td>
                                    <td>{{item.metaAnualQuartoAno ? item.metaAnualQuartoAno : '---'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div> -->

                            <div style="display: block;">
                              <canvas baseChart height="100" [datasets]="item.chartData" [labels]="item.anos"
                                [options]="chartOptions" [legend]="true" chartType="bar" id="graficoLinha"></canvas>
                            </div>
                            <section *ngIf="item.historicoMetas != null && item != []" >
                              <h5 style="margin-top:12px;">Histórico de Alterações de Meta</h5>
                              <table style="width:100%; margin-bottom: 16px;">
                                  <tr>
                                    <th class="center_border">{{objetoPlanoMetaAno.primeiroAnoMandato}}</th>
                                    <th class="center_border">{{objetoPlanoMetaAno.segundoAnoMandato}}</th>
                                    <th class="center_border">{{objetoPlanoMetaAno.terceiroAnoMandato}}</th>
                                    <th class="center_border">{{objetoPlanoMetaAno.quartoAnoMandato}}</th>
                                  </tr>
                                  <tr *ngFor="let historico of item.historicoMetas">
                                    <td class="center_border">{{historico.metaAnualPrimeiroAno}}</td>
                                    <td class="center_border">{{historico.metaAnualSegundoAno}}</td>
                                    <td class="center_border">{{historico.metaAnualTerceiroAno}}</td>
                                    <td class="center_border">{{historico.metaAnualQuartoAno}}</td>
                                  </tr>
                              </table>
                            </section>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-card>
      <br>
      <hr>
      <div class=row>
        <div class="col-lg-12">
          Deseja enviar uma proposta para o município de <strong>{{cidade.nome}} - {{cidade.siglaEstado}}</strong>? Clique no botão abaixo!
          <br>
          <div style="text-align: center">
            <a href="/proposta/{{cidade.siglaEstado | slugify}}/{{cidade.nome | slugify}}" target="_blank">
              <button type="button" class="btn-downloads-transparent"> ENVIAR PROPOSTA </button>
            </a>
          </div>
          <br>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
