.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.titulo {
  color: rgb(64, 133, 89);
}

td{
padding: 12px;
transition: 0.4s;
}
td:hover {
  background-color:rgb(250 250 250);
}
table {
  vertical-align: middle;
}

.secao-filtro{
  background-color: #8a9ea1;
  padding-top: 3em;
  padding-bottom: 3em;
  
}

.secao-filtro > h1 span {
  color: #fff;
  position: relative;
  z-index: 2;
}

.secao-filtro header {
  color: #fff;
  padding-left: 30px;
}

.secao-filtro > header h1 {
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: left;
  position: relative;
}

.search-form-color ::ng-deep .mat-select-value-text {
  color: white !important;
}

.search-form-color ::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}

.search-form-color ::ng-deep .mat-form-field-label {
  color: white !important;
}

.search-form-color ::ng-deep.mat-form-field-underline {
  background-color: white !important;
}

.search-form-color ::ng-deep.mat-form-field-ripple {
  background-color: white !important;
}

.search-form-color ::ng-deep .mat-select-arrow {
  color: white !important;
}

.search-form-color ::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: white !important;
}

.search-form-color ::ng-deep .mat-datepicker-toggle {
  color: white !important;
}

.search-form-color ::ng-deep .mat-datepicker {
  color: white !important;
}

.search-form-color ::ng-deep input.mat-input-element {
  color: white;
}


.btnpesquisar {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.container-faq{
  margin: 3% 25% 3% 25%;
}

.container-palavra-chave{
  margin: 1% 25%;
}

@media screen and (max-width: 767px) {
  .container-faq{
    margin: 2% 10% 2% 10%;
  }
}

.search-form-color {
  color: white !important;
}

.limpar-filtro {
  border-radius: 0.5em;
  color: #fff;
  height: 36px;
  min-width: 150px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.itens-filtro div{
  padding-left: 25px;
  padding-right: 20px;
}

@media(min-width: 1098px) {
  .botoes-pesquisa {
    display: inline;
  }
  .botoes-pesquisa-p {
    display: none;
  }
}

@media(min-width: 992px) and (max-width: 1097px) {
  .botoes-pesquisa {
    display: none;
  }
  .botoes-pesquisa-p {
    display: inline;
    width: 100%;
  }
}

.itens-filtro div{
  padding-left: 25px;
  padding-right: 20px;
}

.btn-faq {
  margin-right: 10px; 
  height: 36px;
  width: 160px;
  min-width: 150px;
}


@media(min-width: 1098px) {
  .botoes-pesquisa {
    display: inline;
  }
  .botoes-pesquisa-p {
    display: none;
  }
}

@media(min-width: 992px) and (max-width: 1097px) {
  .botoes-pesquisa {
    display: none;
  }
  .botoes-pesquisa-p {
    display: inline;
    width: 100%;
  }
}

@media(max-width: 991px) and (min-width: 380px){
  .botoes-pesquisa {
    display: inline;
  }
  .botoes-pesquisa-p {
    display: none;
  }
  .btn-group {
    text-align: right !important;
    display: initial;
  }
}

@media(max-width: 379px) {
  .botoes-pesquisa {
    display: none;
  }
  .botoes-pesquisa-p {
    display: inline;
    width: 100%;
  }
}
