<div style="background-color: white;">
    <section class="home-banner owl-carousel owl-theme">

      <div id="carouselExampleIndicators" class="carousel slide" ride="false">
        <div class="carousel-inner">
          <div>
            <img class="img-carousel" [src]="urlImagem()">
            <div class="carousel-caption">
                <div style="position: absolute;bottom: 0;">
              <h1 class="animated fadeInUp duration-3s delay-1s">TIPOS E CLASSIFICAÇÕES DE INDICADORES</h1>
              <h4 class="animated fadeInUp duration-3s delay-2s">Eles podem ser categorizados em áreas temáticas,
                descrever um determinado aspecto da realidade de forma rápida e objetiva
                (número de leitos hospitalares, por exemplo) ou sintetizar diversas dimensões em uma mesma medida
                ou propriedade, como o IDH.
              </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div style="background-color: white;margin-top:-20px;" class="news news--full">
      <div></div>
      <article class="news__article">
          <app-breadcrumb></app-breadcrumb>
        <header>
          <h1>TIPOS E CLASSIFICAÇÕES DE INDICADORES</h1>
        </header>
        <p>Um pressuposto fundamental de uma gestão pública eficiente é a capacidade dos tomadores de decisão de
          avaliar adequadamente a realidade, interpretar os desejos e necessidades da população e implementar ações
          que atendam às prioridades estabelecidas.</p>

        <p>Nesse processo, os indicadores cumprem um papel essencial em diversas etapas.
          Eles traduzem o contexto em que vivemos por meio de dados, números e informações.
          Também permitem mensurar aspectos que influenciam nosso dia a dia e nos ajudam a dar um sentido mais tangível e
          concreto para fatores muitas vezes abstratos, como a qualidade de vida das pessoas ou o nível de vulnerabilidade
          de uma população.</p>

        <p>Em termos práticos, os indicadores organizam e sistematizam um amplo conjunto de informações
          sobre um determinado território. Eles permitem a identificação de fenômenos temporais e espaciais,
          a observação e análise de cenários, o monitoramento de ações do governo e a avaliação dos impactos
          de um programa social. Por isso são tão importantes para a gestão pública e o planejamento urbano.</p>

        <p>Os indicadores podem ser classificados de diversas maneiras. A mais comum é de acordo
          com áreas temáticas, como saúde, educação, habitação, segurança pública, trabalho,
          transportes e assim por diante.</p>

        <p>Outra maneira de classificá-los é como analíticos ou sintéticos.
          No primeiro caso, eles costumam ser autoexplicativos e descrevem um determinado
          aspecto da realidade de forma rápida, específica e objetiva. Por exemplo, “tempo
          de espera por vaga em creche”, “número de leitos hospitalares” e “domicílios sem acesso
          à rede de água e esgoto” nos dão uma resposta imediata sobre o que pretendem mensurar.</p>

        <p>Utilizados com frequência na fase de elaboração de diagnósticos locais,
          os indicadores analíticos permitem a identificação de déficits sociais em
          diferentes áreas e temas. Por isso, podem ajudar a definir o público-alvo e as
          regiões que serão priorizadas por uma ação do governo.</p>

        <p>Os indicadores sintéticos, por sua vez, têm como característica geral a capacidade de
          sistematizar diversas dimensões da realidade econômica e/ou social em uma mesma medida.
          Eles são uma forma de mensurar, por exemplo, a qualidade de vida e o nível de vulnerabilidade
          de uma população, por meio da criação de índices compostos que considerem diferentes fatores sociais
          e econômicos. Um bom exemplo é o Índice de Desenvolvimento Humano (IDH), que reúne indicadores como anos de estudo,
          expectativa de vida ao nascer e PIB per capita em sua composição.</p>

        <p>Como observam Claudia Antico e Paulo Jannuzzi no artigo Indicadores e a Gestão de Políticas Públicas,
          uma das características dos indicadores sintéticos é oferecer aos gestores uma medida-síntese das
          condições de vida e do desenvolvimento de municípios, estados ou outras unidades territoriais.
          Por isso, segundo os autores, indicadores sintéticos podem ser úteis como instrumentos de tomada de
          decisão no ciclo de programas sociais. Eles também podem ajudar a definir a natureza das ações a serem
          implementadas, as questões prioritárias e os públicos-alvo a serem atendidos.</p>

        <p>Outro grupo comum e bastante utilizado na gestão pública são os indicadores de desempenho,
          que indicam o quanto do objetivo foi alcançado. Atualmente, com os recursos disponíveis de tecnologia,
          é possível gerar indicadores para qualquer etapa de um processo e medir seu resultado. Neste caso,
          o indicador pode ser usado para a avaliação do desempenho da gestão pública em consonância
          com o plano de metas do município e, assim, avaliar a evolução e/ou a conclusão de uma meta.</p>

        <strong>Alguns exemplos de indicadores analíticos</strong>
        <ul>
          <li>Chefes de família com rendimento de até um salário mínimo</li>
          <li>Pessoas de 7 a 14 anos não-alfabetizadas</li>
          <li>Domicílios com dez ou mais moradores</li>
          <li>Taxa de mortalidade infantil</li>
          <li>Taxa de desemprego</li>
        </ul>


        <strong>Alguns exemplos de indicadores sintéticos</strong>
        <ul>
          <li>IDH (Índice de Desenvolvimento Humano)</li>
          <li>Índice de Gini</li>
          <li>IVS (Índice de Vulnerabilidade Social)</li>
          <li>Índice de Preços ao Consumidor (IPC)</li>
          <li>Índice de Desenvolvimento da Educação do Estado de São Paulo (IDESP)</li>
        </ul>

        <strong>Alguns exemplos de indicadores temáticos</strong>
        <div class="indicadoresTematicos">
          <strong>Saúde</strong>
          <ul>
            <li>Leitos por mil habitantes</li>
            <li>Percentual de crianças nascidas com baixo peso</li>
            <li>Número de consultas pré-natal</li>
          </ul>

          <strong>Educação</strong>
          <ul>
            <li>Taxa de analfabetismo</li>
            <li>Escolaridade média da população de 15 anos ou mais</li>
          </ul>

          <strong>Trabalho e renda</strong>
          <ul>
            <li>Taxa de desemprego</li>
            <li>Rendimento médio real do trabalho</li>
          </ul>

          <strong>Demográficos</strong>
          <ul>
            <li>Distribuição da população por sexo</li>
            <li>População urbana e rural</li>
          </ul>

          <strong>Habitacionais</strong>
          <ul>
            <li>Densidade de moradores por domicílio</li>
            <li>Número de domicílios localizados em favelas</li>
          </ul>

          <strong>Segurança pública e justiça</strong>
          <ul>
            <li>Mortes por homicídios</li>
            <li>Roubos à mão armada por cem mil habitantes</li>
          </ul>

          <strong>Infraestrutura urbana</strong>
          <ul>
            <li>Taxa de cobertura da rede de abastecimento de água</li>
            <li>Percentual de domicílios com esgotamento sanitário ligado à rede pública</li>
          </ul>

          <strong>Ambientais</strong>
          <ul>
            <li>Área verde por habitante</li>
            <li>Nível de poluição do ar</li>
          </ul>

        </div>

        <ul>
          <li>Os indicadores temáticos podem incluir tanto os sintéticos quanto os analíticos</li>
        </ul>

      </article>
    </div>
  </div>
