<div class="contentBody">
  <app-breadcrumb style="position: relative;"></app-breadcrumb>
  
  <h1 align="center">Instituições Privadas</h1>
</div>
<section class="secao-filtro">
  <header>
    <h1><span style="font-weight: 700 !important;color: white;">FAÇA UMA BUSCA</span></h1>
  </header>
  <div class="row search-form-color">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-form-color">
      <form [formGroup]="formFiltro" class="example-form">

        <div class="col-lg-12" style="margin-top: 10px !important;">

          <mat-form-field class="col-md-12 search-form-color">
            <input matInput placeholder="Nome do Grupo" formControlName="nomeGrupo" #nomeGrupo id="nomeGrupo">
          </mat-form-field>

          <mat-form-field class="col-md-6 search-form-color">
            <mat-label>Setor Econômico</mat-label>
            <mat-select id="setorEconomico" name="setorEconomico" formControlName="setorEconomico">
              <mat-option *ngFor="let item of setoresEconomicos" [value]='item'>{{item}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-6 search-form-color">
            <mat-label>Cidade Sede</mat-label>
            <mat-select id="cidade" name="cidade" formControlName="cidade">
              <mat-option *ngFor="let item of cidades" [value]="item.id">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="col-md-6 search-form-color" >
            <input matInput type="number" placeholder="Quantidade de Funcionários" formControlName="quantidadeFuncionarios" 
              #inputQuantidadeFuncionarios id="inputQuantidadeFuncionarios">
          </mat-form-field>

          <mat-form-field class="col-md-6 search-form-color" >
            <input matInput type="number" placeholder="Receita Anual" formControlName="receitaAnual" 
              #inputReceitaAnual id="inputReceitaAnual">
          </mat-form-field>

          <mat-form-field class="col-md-6 search-form-color">
            <mat-label>Temas</mat-label>
            <mat-select id="areasInteresse" name="areasInteresse" formControlName="areaInteresse">
              <mat-option *ngFor="let areaInteresse of areasInteresse" [value]="areaInteresse.id">{{areaInteresse.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-6 search-form-color">
            <mat-label>Eixos</mat-label>
            <mat-select id="areaInteresse" name="eixos" formControlName="eixo">
              <mat-option *ngFor="let eixo of eixos" [value]="eixo.id">{{eixo.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-12 search-form-color">
            <mat-label>ODS</mat-label>
            <mat-select id="ods" name="ods" formControlName="ods">
              <mat-option *ngFor="let item of ods" [value]="item.id">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div class="white">
            <mat-checkbox [checked]="false" class="search-form-color" formControlName="atuaProjetoSustentabilidade"></mat-checkbox>
            Fundações Empresariais que atuam em projetos de sustentabilidade
            <br>
            <mat-checkbox [checked]="false" class="search-form-color" formControlName="associadaEthos"></mat-checkbox>
              Associada Ethos
            <br>
            <mat-checkbox [checked]="false" (change)="onParticipaAplChange($event.checked)" class="search-form-color" formControlName="participaApl"></mat-checkbox>
              Participação em Arranjo Produtivo Local - APL
          </div>

          <mat-form-field class="col-md-6" [hidden]="!participaApl">
            <mat-label>Setor Econômico da APL</mat-label>
            <mat-select id="porteEmpresa" name="setoresEconomicos" formControlName="setoresApl" multiple>
              <mat-option [value]='item' *ngFor="let item of setoresEconomicos">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>          

          <mat-form-field class="col-md-6" [hidden]="!participaApl">
            <mat-label>Cidade de Atuação</mat-label>
            <mat-select id="inputCidade" name="cidade" formControlName="cidadesApl">
              <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-12">
            <input matInput placeholder="Fundação/Instituto Empresarial vinculado à empresa" formControlName="vinculo" #vinculo
              id="vinculo">
          </mat-form-field>
          
          <br>
          <div class="col-lg-12 text-right" style="margin-top: 10px !important;">
            <button matTooltip="Buscar Instituições" mat-flat-button color="primary" (click)="buscarInstituicoes()"
              id="btnBuscarBibliotecas" class="btnpesquisar" type="submit">
              <mat-icon style="margin-top: -1px !important">search</mat-icon> Buscar Instituições
            </button>
            <button matTooltip="Limpar Filtro" mat-flat-button color="primary" (click)="limparFiltro()"
            id="btnBuscarBibliotecas" style="margin-left: 16px" class="btnpesquisar" type="submit">
            <mat-icon style="margin-top: -1px !important">clear</mat-icon> Limpar Filtro
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
<section class="secao">
  <div class="row">
    <div *ngIf="idsInstituicoes.length == 0">
      <h3>Nenhum resultado encontrado.</h3> 
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mb-3" *ngFor="let id of idsInstituicoes | slice : 0 : paginationLimit">
      <app-card-contribuicoes-academicas [idGrupoAcademico]="id.id"></app-card-contribuicoes-academicas>
    </div>
  </div>

  <div
    style="height: 100%;min-height: 100%;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;">
    <button class="view-more" matTooltip="Mais Resultados" (click)="verMaisGruposAcademicos()" id="btnVerMais">
      Ver Mais
    </button>
  </div>

</section>