.example-form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btnToRight{
  margin-right: 5px !important;
}

.containerPrincipal img  {
  width:20%;
  height: 200px;
}

.containerPrincipal button  {
  width:20%;
}