.secao {
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 3em;
  margin-top: 3em;
  font-weight: 600;
}

@media (max-width: 1023px) {
  .secao {
    margin-left: 48px;
    margin-right: 48px;
  }
  .secao-mapa h1{
    margin-left: 48px;
    color: white;
  }
}

.secao-filtro{
    background-color: #8a9ea1;
    margin-bottom: 1em;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  .secao-filtro > h1 span {
    color: #fff;
    position: relative;
    z-index: 2;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .secao-filtro header {
    color: #fff;
  }
  
  .secao-filtro > header h1 {
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: left;
    position: relative;
  }

   .search-form-color ::ng-deep .mat-select-value-text {
    color: white !important;
  }
  
  .search-form-color ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
  }
  
  .search-form-color ::ng-deep .mat-form-field-label {
    color: white !important;
  }
  
  .search-form-color ::ng-deep.mat-form-field-underline {
    background-color: white !important;
  }
  
  .search-form-color ::ng-deep.mat-form-field-ripple {
    background-color: white !important;
  } 

  .search-form-color ::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white !important;
  }

  .search-form-color ::ng-deep input.mat-input-element {
    color: white;
  }

  .card-header {
    background-color: #47825e;
    justify-content: center;
    color: white
  }

  .list-item {
    font-weight: normal !important;
  }