<div class="contentBody" style="position: relative;">
  <app-breadcrumb style="position: relative;"></app-breadcrumb>
<mat-card>

  <div class="row">

    <div class="col-md-8 col-lg-9 col-xs-12 col-sm-12">
      <h2>Subdivisões Municipais</h2>
    </div>
  </div>

  <mat-divider></mat-divider>

  <br>
  <br>
  
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"> 

      <mat-card>
        <div class="row">
          <div class="col-md-8 col-lg-9 col-xs-12 col-sm-12">
            <h5>Lista de Subdivisões Cadastradas</h5>
          </div>
        </div>
      
        <div class="row mt-5">
      
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="nome">Nome</th>
            <td mat-cell *matCellDef="let item">{{item.nome}}</td>
          </ng-container>

                  <!-- Tipo Pai Column -->
          <ng-container matColumnDef="tipoSubdivisao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="tipoSubdivisao">Tipo Subdivisão</th>
            <td mat-cell *matCellDef="let item">{{item?.tipoSubdivisao?.nome}}</td>
          </ng-container>

          <!-- Tipo Pai Column -->
          <ng-container matColumnDef="subdivisaoPai">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="subdivisaoPai">Subdivisão Pai</th>
            <td mat-cell *matCellDef="let item">{{item?.subdivisaoPai?.nome}}</td>
          </ng-container>
      
          <!-- Ações Column -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let item" class='m-card-title' data-label='Ações'>
      
              <button mat-flat-button color="primary" type="button" name="button" class="btnTabela" id="btnEditar"
                matTooltip="Editar" (click)="editar(item)" >
                <mat-icon> edit </mat-icon>
              </button>
      
              <button mat-flat-button color="warn" type="button" name="button" class="btnTabela" id="btnExcluir"
                matTooltip="Excluir" (click)="excluir(item.id)">
                <mat-icon> delete </mat-icon>
              </button>      
      
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      
      </mat-card>

      <br>
      <br>

      <mat-card>    
        <div class="row">
          <div class="col-md-8 col-lg-9 col-xs-12 col-sm-12">
            <h5>Cadastro de Subdivisão</h5>
          </div>
        </div>

        <form #subdivisaoForm="ngForm">

          <div class="row mt-5" style="margin-top: 10px !important;">
  
            <div class="col-md-4">
              <mat-form-field>
                <input id="idSubdivisao" type="text" matInput placeholder="Subdivisão" maxlength="150" [(ngModel)]="subdivisaoSelecionada.nome" name="Subdivisão"
                  #nome="ngModel" required />
              </mat-form-field>
            </div> 
  
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Tipo Subdivisão</mat-label>
                <mat-select id="tiposub" name="tipoSub" [(ngModel)]="subdivisaoSelecionada.tipoSubdivisao" required>
                  <mat-option *ngFor="let tipoSub of tiposSubdivisoes" [value]="tipoSub">{{tipoSub.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
  
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Subdivisão Pai</mat-label>
                <mat-select id="subPai" name="subPai"  [(ngModel)]="subdivisaoSelecionada.subdivisaoPai" >
                  <mat-option *ngFor="let sub of subdivisoesPai" [value]="sub">{{sub.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      
            <div class="col-12" align="end">
              <button mat-flat-button color="primary" (click)="salvarSubdivisaoShapeFile()" [disabled]="!subdivisaoForm.valid"
                matTooltip="Salvar Tipo de Subdivisão" style="margin-right: 1%;">
                <mat-icon>save</mat-icon> Salvar
              </button>          
              <button matTooltip="Limpar filtro" mat-flat-button color="accent" (click)="limpar()" id="btnLimparFiltro" style="margin-right: 1%;">
                Limpar
              </button>
            </div>
          
  
          </div>
        </form>
        <div [hidden]="!loading" class="loading-indicator">
          <mat-progress-spinner class="example-margin" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="col-md-12">
          <span *ngIf="!editarSubdivisao">
            Para importar um arquivo selecione o tipo.<br>
            <mat-form-field style="width: 30%;">
              <mat-label>Tipo de arquivo</mat-label>
              <mat-select [(value)]="tipoArquivo" required>
                <mat-option *ngFor="let tipo of listaTipoArquivo" [value]="tipo">
                  {{tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
          </span>
          
          <span *ngIf="tipoArquivo == '.KML' && !editarSubdivisao">
            <input hidden #arquivoKml id='fileKml' type='file' accept=".kml" (change)="carregarArquivoKml($event)">
            <button type="button" mat-raised-button (click)="arquivoKml.click()" id="btnIconeKml" name="iconeKml" 
            color="primary" style="margin-top: 20px; cursor: pointer;" matTooltip="Carregar arquivos">
            <mat-icon style="margin-right: 5px;">cloud_upload</mat-icon>Carregar arquivos *
            </button><br>
            <mat-hint style="font-size: 12px">Formato aceito .kml</mat-hint>
          </span>


          <span *ngIf="tipoArquivo == '.ZIP' && !editarSubdivisao">
            <input hidden #arquivoVetorial id='file' type='file' accept=".zip" (change)="carregarArquivoVetorial($event)">
            <button type="button" mat-raised-button (click)="arquivoVetorial.click()" id="btnIcone" name="icone" 
            color="primary" style="margin-top: 5px; cursor: pointer;" matTooltip="Carregar arquivos">
            <mat-icon style="margin-right: 5px;">cloud_upload</mat-icon>Carregar arquivos *
            </button><br>
            <mat-hint style="font-size: 12px">Formato aceito .zip</mat-hint>
          </span>
          <div style="margin-top: 20px">
            <mat-checkbox [(ngModel)]="salvarSelecionados" >
              Salvar somente área selecionada
            </mat-checkbox>
              <i (click)="mostrarMensagemAjuda()" class="material-icons">help</i>
          </div>

          <span id="warning"></span>
        
          <div style="height: 500px;" 
            leaflet 
            leafletDraw
            [leafletOptions]="mapOptions" 
            [leafletDrawOptions]="drawOptions"
              (leafletMapReady)="onMapReady($event)"></div>
        </div>
      </mat-card>
      


    </div>

</mat-card>







