<div class="conteudo" style="position: relative;">
  <section class="home-banner owl-carousel owl-theme">
    <div id="carouselExampleIndicators" class="carousel slide" ride="false">
      <div class="carousel-inner">
        <div>
          <img class="img-carousel" loading="lazy"
            src="assets/observatorio.jpg">
          <div class="carousel-caption">
            <div style="position: inherit;bottom: 0;width: 100%;">
              <h1 class="animated fadeInUp duration-3s delay-2s">Planos, Leis e Regulamentações</h1>                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="contentBody">
  <app-breadcrumb></app-breadcrumb>
</div>