<mat-dialog-content>
<mat-card-title>Termo de responsabilidade para acesso à área exclusiva da Plataforma do Conhecimento Cidades Sustentáveis</mat-card-title>

<hr/>
<p>Os signatários do Programa Cidades Sustentáveis têm à disposição um espaço virtual no portal
    <a href="http://www.cidadessustentaveis.org.br" >http://www.cidadessustentaveis.org.br</a> para apresentar informações do município por meio dos indicadores,
    do Plano de Metas e divulgar boas práticas. Além destas ferramentas o
    sistema oferecerá diversas outras voltadas para a divulgação de informações da cidade que serão inseridas pela prefeitura.<br />
    A plataforma cumpre uma dupla função: é fonte de informação para o planejamento, gestão e tomada de decisão da administração pública,
    assim como de transparência, acompanhamento e fiscalização para toda a sociedade.<br />
    Para ter acesso ao sistema, é necessário o preenchimento do formulário de cadastro com a indicação das
    pessoas que serão responsáveis pelo Programa Cidades Sustentáveis na gestão municipal.<br />
    É importante salientar que a prefeitura é responsável por manter atualizadas as informações de cadastro no sistema. <br />
    As pessoas indicadas pelo prefeito/a receberão seus usuários via e-mail e cadastrarão suas senhas, que são pessoais. Portanto é de responsabilidade de cada uma das pessoas indicadas o uso adequado de suas senhas, bem como a responsabilidade pela inserção de dados referentes ao seu município e demais informações publicadas.
  </p>
<hr/>
</mat-dialog-content>
<mat-dialog-actions align="end">

<button type="button" mat-raised-button id="btnDownloadCarta" (click)="fileDownloadCarta()" color="primary"
            style="margin-right: 20px !important;cursor: pointer;"
            matTooltip="Baixar o termo de responsabilidade">
            <mat-icon style="margin-right: 5px;">cloud_download</mat-icon>Baixar o Termo de responsabilidade
</button>
<button mat-flat-button color="accent" id="btnVoltar" class="btnToRight" (click)="voltar()" matTooltip="Fechar">
    <mat-icon>close</mat-icon>Fechar
</button>
</mat-dialog-actions>

