<div style="background-color: white;" class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay ">
  <main class="bmd-layout-content">

    <div class="conteudo" style="position: relative;">
      <section class="home-banner owl-carousel owl-theme">
        <div id="carouselExampleIndicators" class="carousel slide" ride="false">
          <div class="carousel-inner">
            <div>
              <img class="img-carousel" loading="lazy"
                src="https://s2.glbimg.com/YO-DzhslXUrgUZBFOfTUPboBvWk=/780x440/e.glbimg.com/og/ed/f/original/2015/10/02/pierre_guezingar.jpg">
              <div class="carousel-caption">
                <div style="position: inherit;bottom: 0;width: 100%;">
                  <h1 class="animated fadeInUp duration-3s delay-2s">Fórum</h1>
                  <h4 class="animated fadeInUp duration-3s delay-2s">Um espaço interativo para falar de planejamento e gestão municipal, compartilhar experiências em políticas públicas e trocar ideias sobre cidades melhores para todas e todos
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="secao-filtro" id="filtro-discussoes">
      <div class="row search-form-color" style="margin-right: 0px;">

        <div class="col-lg-1">
          <header style="padding-top: 10px;">
            <h3><span>BUSCA</span></h3>
          </header>
        </div>

        <div class="col-lg-11 itens-filtro">
          <form [formGroup]="formFiltro" class="example-form">
            <div class="row">
              <div class="col-lg-4">
                  <mat-form-field class="search-form-color">
                    <input matInput formControlName="palavraChave" placeholder="Palavra chave">
                  </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field class="search-form-color">
                  <mat-label>Temas</mat-label>
                  <mat-select id="idsTemas" name="idsTemas" formControlName="idsTemas" multiple>
                    <mat-option *ngFor="let tema of temasForum" [value]="tema.id">{{tema.nome}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-lg-4 btn-group text-center">
                <button matTooltip="Buscar Eventos" mat-flat-button color="primary" (click)="buscarDiscussoesFiltradas(true)"
                  id="btnBuscarEventos" class="botaoBuscarEventos btn-forum botoes-pesquisa">
                  <mat-icon style="margin-top: -1px !important">search</mat-icon> Buscar Discussão
                </button>
                <button matTooltip="Limpar filtro" mat-flat-button color="accent" (click)="limparFiltro()"
                  id="btnLimparFiltro" class="limpar-filtro botoes-pesquisa">
                  Limpar Filtro
                </button>
                <div class="botoes-pesquisa-p">
                  <button matTooltip="Buscar Eventos" mat-flat-button color="primary" (click)="buscarDiscussoesFiltradas(false)"
                    id="btnBuscarEventos" class="botaoBuscarEventos btn-forum botoes-pesquisa-p">
                    <mat-icon style="margin-top: -1px !important">search</mat-icon> Buscar Discussão
                  </button>
                  <br><br>
                  <button matTooltip="Limpar filtro" mat-flat-button color="accent" (click)="limparFiltro()"
                    id="btnLimparFiltro" class="limpar-filtro botoes-pesquisa-p">
                    Limpar Filtro
                  </button>

                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </section>


    <section class="tabela-discussoes" id="tabela-discussoes">
      <div class="row">
        <div style="min-width: 100%">
          <div class="table-responsive-lg">
            <div [hidden]="!loading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Tópicos</th>
                  <th>Data/Hora</th>
                  <th>Respostas</th>
                  <th>Visualizações</th>
                  <th>Último usuário</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of discussoesForum">
                  <td > <mat-icon
                    [ngStyle]="definirStatus(item.ativo)" [matTooltip]="definirTooltip(item.ativo)">
                  </mat-icon> </td>
                  <td style="max-width: 350px; word-break: break-word;" >
                    <a class="cursor-hand" [routerLink]="['/participacao-cidada/forum/discussao/', item.id]" target="_blank" >{{item.titulo != null ? item.titulo: '-' }}</a>
                  </td>
                  <td style="white-space: nowrap" > {{item.dataHoraCriacao != null ? (item.dataHoraCriacao | date:'dd/MM/yyyy HH:mm:ss'): '-'}} </td>
                  <td style="white-space: nowrap" > {{item.numeroDeRespostas != null ? item.numeroDeRespostas: '-'}} </td>
                  <td style="white-space: nowrap" > {{item.numeroDeVisualizacao != null ? item.numeroDeVisualizacao: '-'}} </td>
                  <td style="white-space: nowrap" > {{item.usuarioUltimaPostagem != null ? item.usuarioUltimaPostagem.nome: '-'}} </td>
                </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
