.loading-indicator::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .carousel-caption {
    height: 480px;
    color: #fff;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  @media (max-width: 767px) {
    /* ... */
    .top-content .carousel-control-prev, .top-content .carousel-control-next {
        display: none;
    }
    .top-content .carousel-indicators li {
        margin-left: 10px;
        margin-right: 10px;
    }
    /* ... */
}

.home-banner h1 {
  font-weight: 700 !important;
  font-size: calc(17px + 1.5vw);
  line-height: 1.25em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.teaser--dotted{
  background-size: 15px;
  background-repeat: repeat;
  background-attachment: scroll;
}
  .teaser {
    padding: 3em 128px;
    margin-top: 3em;
    margin-bottom: 3em;
    cursor: default;
  }
  @media (max-width: 1023px) {
    .teaser {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
  .teaser--inverted {
    background-color: #333;
    color: #fff;
  }
  .teaser--inverted :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--blue {
    background-color: #15506c;
  }
  .teaser--blue :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--highlight {
    background-color: #554f20;
  }
  .teaser--highlight :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--highlight-grayscale {
    background-color: #b3b3b3;
  }
  .teaser--highlight-grayscale :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--highlight-dark-grayscale {
    background-color: #6e6e6e;
  }
  .teaser--highlight-dark-grayscale :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--grayscale :not(.no-rewrite) {
    color: #6e6e6e !important;
  }
  .teaser--desaturate {
    background-color: #8a9ea1;
  }
  .teaser--desaturate :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--attention {
    background-color: #408559;
  }
  .teaser--attention :not(.no-rewrite) {
    color: #fff !important;
  }
  .teaser--small-container {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .teaser--small-container {
      padding-left: 10rem !important;
      padding-right: 10rem !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .teaser--small-container {
      padding-left: 128px !important;
      padding-right: 128px !important;
    }
  }
  @media (max-width: 767px) {
    .teaser--small-container {
      padding-left: 48px !important;
      padding-right: 48px !important;
    }
  }
  .teaser .breadcrumbs {
    position: absolute;
    left: 128px;
    width: calc(25% - 176px);
  }
  @media (max-width: 1439px) {
    .teaser .breadcrumbs {
      left: 48px;
      width: calc(25% - 48px);
    }
  }
  @media (max-width: 1023px) {
    .teaser .breadcrumbs {
      position: static;
      left: auto;
      width: 100%;
    }
  }
  .teaser header {
    font-size: 2.25em;
    line-height: 1.3333333333em;
    margin-bottom: 0.6666666667em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .teaser header h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: center;
  }
  .teaser header:last-child h1,
  .teaser header:last-child h2 {
    margin-bottom: 0 !important;
  }
  .teaser header:last-child h2 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .teaser > p {
    font-size: 1.125em;
    line-height: 1.3333333333em;
    margin-bottom: 1.3333333333em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .teaser > p {
      min-width: auto;
      width: 100%;
    }
  }

  .teaser--dotted{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE1cHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDE1IDE1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNSAxNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Y2lyY2xlIGZpbGw9IiNBN0E1QTYiIGN4PSI3LjUiIGN5PSI3LjUiIHI9IjAuNjI1Ii8+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==");
    background-size: 15px;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  h4 {
    font-size: calc(10px + 1.0vw) !important;
  }

  .conteudo {
    width: 100%;
    max-width: 100%;
  }

  .tabela-discussoes {
    margin-bottom: 1em;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 1em;
    padding-bottom: 3em;
  }

  .secao-filtro{
    background-color: #8a9ea1;
    margin-bottom: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .secao-filtro > h1 span {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .secao-filtro header {
    color: #fff;
    padding-left: 30px;
  }

  .secao-filtro > header h1 {
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: left;
    position: relative;
  }

  .search-form-color ::ng-deep .mat-select-value-text {
    color: white !important;
  }

  .search-form-color ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
  }

  .search-form-color ::ng-deep .mat-form-field-label {
    color: white !important;
  }

  .search-form-color ::ng-deep.mat-form-field-underline {
    background-color: white !important;
  }

  .search-form-color ::ng-deep.mat-form-field-ripple {
    background-color: white !important;
  }

  .search-form-color ::ng-deep .mat-select-arrow {
    color: white !important;
  }

  .search-form-color ::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white !important;
  }

  .search-form-color ::ng-deep .mat-datepicker-toggle {
    color: white !important;
  }

  .search-form-color ::ng-deep .mat-datepicker {
    color: white !important;
  }

  .search-form-color ::ng-deep input.mat-input-element {
    color: white;
  }

  .itens-filtro div{
    padding-left: 25px;
    padding-right: 20px;
  }

  .limpar-filtro {
    border-radius: 0.5em;
    color: #fff;
    height: 36px;
    min-width: 125px;
  }

  button{
    margin-bottom: 8px;
  }

  .cursor-hand{
    cursor: pointer;
    margin-bottom: 0px;
  }

  .cursor-hand:hover {
    text-decoration: underline;
  }

  .btn-forum {
    margin-right: 10px;
    height: 36px;
    min-width: 175px;
  }


  @media(min-width: 1098px) {
    .botoes-pesquisa {
      display: inline;
    }
    .botoes-pesquisa-p {
      display: none;
    }
  }

  @media(min-width: 992px) and (max-width: 1097px) {
    .botoes-pesquisa {
      display: none;
    }
    .botoes-pesquisa-p {
      display: inline;
      width: 100%;
    }
  }

  @media(max-width: 991px) and (min-width: 380px){
    .botoes-pesquisa {
      display: inline;
    }
    .botoes-pesquisa-p {
      display: none;
    }
    .btn-group {
      text-align: right !important;
      display: initial;
    }
  }

  @media(max-width: 379px) {
    .botoes-pesquisa {
      display: none;
    }
    .botoes-pesquisa-p {
      display: inline;
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
