
.margem-publicacao{
  margin-left: 1.1em;
  margin-top: 2em;
}

.div-card-publicacao{
  margin: 1em 0px;

}
.card-publicacao{
  min-height: 10em ;
  background-color:  rgba(0, 0, 0, 0.03);
}
.botao-publicacao{
  padding-top: 3em ;
}

.publicacao-material-apoio{
  background-size: cover;
  height: 35vh;
}
.publicacao-material-apoio-titulo{
  font-size: 1.25em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 4%;
  color:black;
}
.publicacao-material-apoio-texto{
  color:black;
}

.publicacao-material-apoio-titulo:hover{
  text-decoration: underline;
  text-decoration-color: black;
}
.publicacao-material-apoio-texto:hover{
  text-decoration: underline;
  text-decoration-color: black;
}

.publicacao-material-institucional{
  background-size: cover;
  height: 35vh;
}
.publicacao-material-institucional-titulo{
  padding-top: 2em !important;
}

.btn-material-institucional{
  font-size: 1.3em;
  line-height: 1.5em;
  border: 0.0555555556em solid #aaa;
  padding: 1.2777777778em;
  font-weight: 400;
  color: #aaa;
}

.publicacao-livre{
  background-size: cover;
  height: 35vh;
}

.pointer{
  cursor: pointer;
}

.btn-ordenacao{
  margin-left: 1em ;
  margin-right: 1em ;
}
