<!-- Seção Lateral -->

<section>

  <div class="row" style="margin-top: 5%;margin-bottom: 5%;" *ngIf="secaoLateral.terceiraImagemSafeUrl">
    <div class="col-md-12 row-card-side-bar" >
      <div class="h-100" style="cursor: pointer;">
        <div class="card-body" style="padding: 0px !important;">
          <div class="container" style="padding: 0px !important;">
            
            <a [href]="secaoLateral.terceiraImagemLink" onclick="return false;">
              <img class="img-carousel-side" loading="lazy" [src]="secaoLateral.terceiraImagemSafeUrl" alt="Event Image">
              <div class="centered">
                  <div class="row">
                    <a class="h5 titulos-inside-image  underline-on-hover"
                      [style.border-color]="secaoLateral.terceiroTituloCor"
                      [style.color]="secaoLateral.terceiroTituloCor"
                      style="width: 100%;margin-bottom: 2%;text-align: center;" [href]="secaoLateral.terceiroTituloLink" onclick="return false;"
                      [innerHTML]="secaoLateral.terceiroTitulo"></a>
          
                    <a class="subtitulos-inside-image underline-on-hover" style="color: #231f20; text-align:center !important"
                      [style.color]="secaoLateral.terceiroTextoCor" [innerHTML]="secaoLateral.terceiroTexto"
                      [href]="secaoLateral.terceiroTextoLink" onclick="return false;"></a>
                  </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>