<div style="background-color: white;">
  <section class="home-banner owl-carousel owl-theme">

    <div id="carouselExampleIndicators" class="carousel slide" ride="false">
      <div class="carousel-inner">
        <div>
          <img class="img-carousel" [src]="urlImagem()">
          <div class="carousel-caption">
              <div style="position: absolute;bottom: 0;">
                <h1 class="animated fadeInUp duration-3s delay-1s">O que é um Bom Indicador</h1>
                <h4 class="animated fadeInUp duration-3s delay-2s">Precisos, confiáveis, acessíveis, comparáveis,
                  verificáveis
                  e fáceis de interpretar. Existem diversas características que devem ser observadas para se obter e
                  selecionar um indicador de qualidade. Algumas delas são imprescindíveis na gestão pública. Veja o porquê
                </h4>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div style="background-color: white;" class="news news--full">
    <div></div>
    <article class="news__article">

       <app-breadcrumb></app-breadcrumb>

      <header>
        <h1>O que é um Bom Indicador</h1>
      </header>
      <p>A escolha de indicadores na gestão pública deve considerar diversas características, de acordo com o objetivo
        que
        se pretende atingir. Por exemplo, eles devem ser precisos e confiáveis, mas também têm de ser disponibilizados
        com
        regularidade, de maneira que permitam comparações temporais ou territoriais. Para isso, as bases de dados devem
        constituir séries históricas que permitam avaliar a evolução do indicador ao longo do tempo, bem como a análise
        de
        seu desempenho.</p>
      <p>Por outro lado, é necessário acompanhar junto às instituições-fonte dos indicadores se houve mudanças na
        metodologia de coleta de dados e seu processamento para um determinado indicador, de modo a garantir a
        integridade
        da base de informações e a possibilidade de comparação ao longo do tempo e do espaço.</p>
      <p> A objetividade dos dados e informações são igualmente fundamentais, uma vez que facilita o entendimento, a
        interpretação e a comunicação com públicos diversos em diferentes contextos. Isso significa que o indicador deve
        prezar pela simplicidade, para que as informações sejam transmitidas de forma clara e sem inconsistências.</p>
      <p>Veja abaixo outras características que devem ser observadas no processo de seleção e levantamento de
        indicadores:
      </p>
      <p><strong>Preciso</strong></p>
      <p>Traz o registro exato e direto, ou seja, é obtido por meio de um trabalho com boa qualidade técnica, seguindo
        padrões estabelecidos.</p>
      <p><strong>Capaz de ser medido</strong></p>
      <p>É necessário que haja dados disponíveis para a sua construção.</p><p><strong>Relevante</strong></p>
      <p>Precisa ser útil e pertinente, de modo que sua interpretação provoque um questionamento da realidade analisada que
      estimule futuras ações.</p>
      <p><strong>Fácil de interpretar</strong></p>
      <p>Clareza e objetividade são aspectos fundamentais. Um indicador não deve trazer ambiguidades.</p>
      <p><strong>Confiável</strong></p>
      <p>Para resultados consistentes, a fonte deve ser insuspeita e ter credibilidade junto à área técnica.</p>
      <p><strong>Monitorado</strong></p>
      <p>Frequência e periodicidade permitem que o indicador seja supervisionado e que as políticas públicas possam ser
      reavaliadas.</p>
      <p><strong>Econômico</strong></p>
      <p>Com custos módicos em relação ao tempo e investimento para construí-lo junto à gestão municipal.</p>
      <p><strong>Acessível</strong></p>
      <p>As condições devem ser apropriadas para que todos os interessados possam obtê-lo e acessá-lo, tal como em sistemas
      online de dados abertos.</p>
      <p><strong>Comparável</strong></p>
      <p>Entre distritos, municípios, estados, países, grupos, etc. Os dados não devem ser apresentados de forma isolada no
      tempo e no espaço.</p>
    </article>
  </div>
</div>
