
<!-- Primeira seção -->
<section>

  <hr style="border-top: 4pt solid; margin-right: 30px;" [style.color]="primeiraSecao?.primeiroTituloCor">
  
  <div class="row" style="width: 100%;margin-top:3%; margin-bottom: 3%;">
    <div class="col-md-6 one-column-center underline-on-hover">
      <a class="h1 titulos" [style.color]="primeiraSecao?.primeiroTituloCor" 
      [innerHTML]="primeiraSecao?.primeiroTitulo" [href]="primeiraSecao?.primeiroTituloLink" onclick="return false;"></a>
    </div>
    <a class="col-md-5 one-column underline-on-hover"  style="color: #231f20;" [style.color]="primeiraSecao?.primeiroTextoCor" 
      [innerHTML]="primeiraSecao?.primeiroTexto" [href]="primeiraSecao?.primeiroTextoLink" onclick="return false;"></a>
  </div>

  <hr style="border-top: 4pt solid; margin-right: 30px;" [style.color]="primeiraSecao?.primeiroTituloCor">

</section>
