<div class="row">
  <div class="col-lg-12">
    <h2>Crie ou escolha uma Publicação</h2>
    <mat-divider></mat-divider>
    <p>
      O que você deseja publicar?
    </p>
    <mat-radio-group aria-label="Selecione um template" [(ngModel)]="tipoPublicacao">
      <mat-radio-button value="3"  [checked]="true">
        Publicação Livre
      </mat-radio-button>

      <mat-radio-button value="2" style="margin-left: 20px;">
        Material de Apoio
      </mat-radio-button>

      <mat-radio-button value="1" style="margin-left: 20px;">
        Material Institucional
      </mat-radio-button>

    </mat-radio-group>
  </div>
</div>
<br>

<mat-dialog-content>
  <div class="col-lg-12" *ngIf="tipoPublicacao == '3'">
    Preencha os dados abaixo:

    <div >
      <mat-form-field class="full-width">
        <input matInput placeholder="Insira o Título da Publicação" id="titulo" [(ngModel)]="titulo" name="titulo"
          required minlength="3" maxlength="500">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Tooltip do Título" id="tooltipTitulo" [(ngModel)]="tooltipTitulo" name="tooltipTitulo"
         maxlength="500">
      </mat-form-field>
    </div>

    <div >
      <mat-form-field class="full-width">
        <input matInput placeholder="Insira um Texto para a Publicação" id="texto" [(ngModel)]="texto" name="texto"
          required minlength="3" maxlength="500">
      </mat-form-field>
    </div>

    <div>

    <div >
      <mat-form-field class="full-width">
        <input matInput placeholder="Insira um Link para a Publicação" id="link" [(ngModel)]="link" name="link" required
          minlength="3" maxlength="500">
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" >
      <input matInput placeholder="Tooltip da Imagem" id="tooltipTexto" [(ngModel)]="tooltipTexto" name="tooltipTexto"
         maxlength="500">
    </mat-form-field>
  </div>

    <div class="col-md-12 text-center">
      <input hidden #imagemPublicacao type="file" id="imagemPrincipal" name="imagemPrincipal"
        accept="image/jpeg,image/png" (change)="fileChangeEvent($event)">
      <button type="button" mat-raised-button (click)="imagemPublicacao.click()" id="btnIcone" name="icone"
        color="primary" style="margin-top: 20px; cursor: pointer;" matTooltip="Upload Imagem">
        <mat-icon style="margin-right: 5px;">cloud_upload</mat-icon>Carregar imagem
      </button>
      <br /><br><br>
      <div class="containerGaleria" [hidden]="imageChanged">
        <img [src]="urlbackend + 'imagens/' + publicacao.idImagem" alt="" style="width:100%">
      </div>
      <div style="background-color:  rgba(0, 0, 0, 0.03);">

        <span *ngIf="imageChangedEvent" >Você pode Recortar a Imagem</span>
        <image-cropper style="max-height: 500px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
          [aspectRatio]="1 / 1" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)">
        </image-cropper>
      </div>
      <mat-divider></mat-divider>
      <br>

      <div class="containerGaleria" style="background-color:  rgba(0, 0, 0, 0.03);" *ngIf="imagemSafeUrl">
        <span *ngIf="imageChangedEvent" >Visualização</span>
        <img [src]="imagemSafeUrl" style="width:100%">
        <button type="button" mat-raised-button style="width:100%;" (click)="removerImagemPrincipal()">
          <mat-icon class="btn-remover">delete</mat-icon>
        </button>
      </div>
    </div>

  </div>

  <div class="col-lg-12" *ngIf="tipoPublicacao == '2'">
    Escolha um Material de Apoio:
    <mat-form-field>
      <mat-label>Selecione um Material de Apoio</mat-label>
      <mat-select [(value)]="materialApoioSelecionado">
        <mat-option *ngFor="let item of listaMaterialApoio" [value]="item.id">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Tooltip do Título" id="tooltipTitulo" [(ngModel)]="tooltipTitulo" name="tooltipTitulo"
           maxlength="500">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Tooltip da Imagem" id="tooltipTexto" [(ngModel)]="tooltipTexto" name="tooltipTexto"
           maxlength="500">
      </mat-form-field>
    </div>

  </div>

  <div class="col-lg-12" *ngIf="tipoPublicacao == '1'">
    Escolha um Material Institucional:

    <mat-form-field>
      <mat-label>Selecione um Material Institucional</mat-label>
      <mat-select [(value)]="materialInstitucionalSelecionado">
        <mat-option *ngFor="let item of listaMaterialInstitucional" [value]="item.id">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Tooltip do Título" id="tooltipTitulo" [(ngModel)]="tooltipTitulo" name="tooltipTitulo"
          minlength="3" maxlength="500">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Tooltip da Imagem" id="tooltipTexto" [(ngModel)]="tooltipTexto" name="tooltipTexto"
          minlength="3" maxlength="500">
      </mat-form-field>
    </div>

    <div class="col-md-12 text-center">
      <input hidden #imagemPublicacao type="file" id="imagemPrincipal" name="imagemPrincipal" [(ngModel)]="imagem"
        accept="image/jpeg,image/png" (change)="fileChangeEvent($event)">
      <button type="button" mat-raised-button (click)="imagemPublicacao.click()" id="btnIcone" name="icone"
        color="primary" style="margin-top: 20px; cursor: pointer;" matTooltip="Upload Imagem">
        <mat-icon style="margin-right: 5px;">cloud_upload</mat-icon>Carregar imagem
      </button>
      <br /><br><br>
      <img [src]="urlbackend + 'imagens/' + publicacao.idImagem" alt="" style="width:100%">
      <div style="background-color:  rgba(0, 0, 0, 0.03);">

        <span *ngIf="imageChangedEvent" >Você pode Recortar a Imagem</span>
        <image-cropper style="max-height: 500px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
          [aspectRatio]="1 / 1" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)">
        </image-cropper>
      </div>
      <div style="background-color:  rgba(0, 0, 0, 0.03);">
        <span *ngIf="imageChangedEvent" >Você pode Recortar a Imagem</span>
        <image-cropper style="max-height: 500px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
          [aspectRatio]="1 / 1" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)">
        </image-cropper>
      </div>
      <mat-divider></mat-divider>
      <br>

      <div class="containerGaleria" style="background-color:  rgba(0, 0, 0, 0.03);" *ngIf="imagemSafeUrl">
        <span *ngIf="imageChangedEvent" >Visualização</span>
        <img [src]="imagemSafeUrl" style="width:100%">
        <button type="button" mat-raised-button style="width:100%;" (click)="removerImagemPrincipal()">
          <mat-icon class="btn-remover">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <br>
  <div class="text-right">
    <button mat-stroked-button color="primary" (click)="confirmar()" style="margin-right: 1em;">Confirmar</button>
    <button mat-stroked-button color="accent" (click)="cancelar()">Cancelar</button>
  </div>
</mat-dialog-content>
