<section class="conteudo">
  <p class="box-center" [ngxSummernoteView]="primeiroTexto"></p>
</section>

<div class="contentBody" [hidden]="esconderMapa">
  <mat-card>
    <div class="row">
      <div class="col-lg-12">
        <div leaflet style="height: 50VH;" id="map"
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)">
        </div>
      </div>
    </div>
  </mat-card>
</div>

<section class="conteudo">
  <p class="box-center" [ngxSummernoteView]="segundoTexto"></p>
</section>

