<br />
<div class="contentBody">
  <div class="row">

    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="paper paper--heavy">
        <header>
          <h1><span>Carta-compromisso</span></h1>
        </header>
        <div class="m-v-48">
          <p>
            Prefeitas e Prefeitos de todo país podem confirmar seu engajamento sustentável assinando a Carta-Compromisso do Programa Cidades Sustentáveis. Baixe a carta-Compromisso, preencha os dados, assine, digitalize e envie em um dos formatos: PDF ou JPG. Para mais informações, acesse a página sobre a <a href=" https://www.cidadessustentaveis.org.br/pagina/adesao_pcs">adesão ao PCS.</a>
          </p>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
              <div class="col-md-12 col-lg-6">
                <button type="button" id="btnDownloadCartaMobile" (click)="fileDownloadCarta()"
                matTooltip="Baixar a Carta-Compromisso do Programa Cidades Sustentáveis"
                class="btn btn-wide  btn-green btn-block btn-mobile">
                Baixar a Carta-Compromisso
              </button>
              </div>
              <div class="col-md-12 col-lg-6 margin-top-mobile">
                <button type="button" id="btnEnviarCarta" [routerLink]="['/cadastrar-carta-compromisso/cadastrar']"
                matTooltip="Enviar a Carta-Compromisso do Programa Cidades Sustentáveis"
                class="btn btn-wide  btn-green btn-block btn-mobile">Enviar a Carta-Compromisso
              </button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
