<!-- Sexta seção -->

<section>
  <div class="col-md-12" *ngIf="sextaSecao?.tituloPrincipal" style="margin-bottom:3%">
    <div class="row">
      <div class="caixa" [style.background-color]="sextaSecao?.tituloPrincipalCor"></div>
      <a class="h1 titulos" style="margin-bottom:0 !important;"
        [style.border-color]="sextaSecao?.tituloPrincipalCor"
        [style.color]="sextaSecao?.tituloPrincipalCor"
        [href]="sextaSecao?.tituloPrincipalLink" onclick="return false;">{{sextaSecao?.tituloPrincipal}}</a>
    </div>
  </div>

  <div class="row" style="margin-right: 30px;margin-left: 0px;">
    <div class="col-md-6 one-column-center" >
         
      <div class="row">
        <div class="carousel-inner" style="padding-right: 4%;padding-left: 6%;">

          <a class="one-column-center" style="height: 100%;width: 100%;margin-top: 1%;"
            *ngIf="sextaSecao?.primeiraImagemSafeUrl" [href]="sextaSecao?.primeiraImagemLink" onclick="return false;"
            target="_blank" rel="noopener">
            <img [src]="sextaSecao?.primeiraImagemSafeUrl" class="img-third-section"
            [matTooltip]="sextaSecao?.primeiraImagemTooltip">
          </a>

          <div class="row" style="margin-top: 5%; margin-bottom: 3%;">
            <a class="h5 titulos-no-border underline-on-hover" style="margin-bottom:3% !important;width: 100%;"
              [style.border-color]="sextaSecao?.primeiroTituloCor"
              [style.color]="sextaSecao?.primeiroTituloCor"
              [href]="sextaSecao?.primeiroTituloLink" onclick="return false;">{{sextaSecao?.primeiroTitulo}}</a>
            <a class="one-column-texto-small underline-on-hover" style="color: #231f20;width: 100%;"
              [style.color]="sextaSecao?.primeiroTextoCor" [innerHTML]="sextaSecao?.primeiroTexto"
              [href]="sextaSecao?.primeiroTextoLink" onclick="return false;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 one-column-center" >
      <div class="row fix-row">
        <div class="carousel-inner"  style="padding-left: 4%;padding-right: 6%;">

          <a class="one-column-center" style="height: 100%;width: 100%;margin-top: 1%;"
            *ngIf="sextaSecao?.segundaImagemSafeUrl" [href]="sextaSecao?.segundaImagemLink" onclick="return false;"
            target="_blank" rel="noopener">
            <img [src]="sextaSecao?.segundaImagemSafeUrl" class="img-third-section"
            [matTooltip]="sextaSecao?.segundaImagemTooltip">
          </a>

          <div class="row" style="margin-top: 5%; margin-bottom: 3%;">
            <a class="h5 titulos-no-border underline-on-hover" style="margin-bottom:3% !important;width: 100%;"
              [style.border-color]="sextaSecao?.segundoTituloCor"
              [style.color]="sextaSecao?.segundoTituloCor"
              [href]="sextaSecao?.segundoTituloLink" onclick="return false;">{{sextaSecao?.segundoTitulo}}</a>
            <a class="one-column-texto-small underline-on-hover" style="color: #231f20;width: 100%;"
              [style.color]="sextaSecao?.segundoTextoCor" [innerHTML]="sextaSecao?.segundoTexto"
              [href]="sextaSecao?.segundoTextoLink" onclick="return false;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:3%;margin-right: 30px;margin-left: 0px;">
    <div class="col-md-6 one-column-center" >
      <div class="row" style="">
        <hr class="lineHorizontal" style="border-top: 1pt solid; margin-right: 15px;width: 100%;" [style.color]="sextaSecao?.tituloPrincipalCor">
      </div>
    </div>

    <div class="col-md-6 one-column-center" >
      <div class="row" style="padding-left: 15px;">
        <hr class="lineHorizontal" style="border-top: 1pt solid;width: 100%;" [style.color]="sextaSecao?.tituloPrincipalCor">
      </div>
    </div>
  </div>

</section>