  <app-breadcrumb></app-breadcrumb>
  <div class="div6Columns" style="margin-left:80px !important; margin-right:80px !important;">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/1.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #e5233d;">
          <h1>Objetivo 1</h1>
          <p>Acabar com a pobreza em todas as suas formas, em todos os lugares</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/2.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #dda73a">
          <h1>Objetivo 2</h1>
          <p>Acabar com a fome, alcançar a segurança alimentar e melhoria da nutrição e promover a agricultura
            sustentável</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/3.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #4ca146">
          <h1>Objetivo 3</h1>
          <p>Assegurar uma vida saudável e promover o bem-estar para todos, em todas as idades</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/4.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #c7212f">
          <h1>Objetivo 4</h1>
          <p>Assegurar a educação inclusiva e equitativa de qualidade, e promover oportunidades de aprendizagem ao longo
            da vida para todos</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/5.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #ef402d">
          <h1>Objetivo 5</h1>
          <p>Alcançar a igualdade de gênero e empoderar todas as mulheres e meninas</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/6.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #27bfe6">
          <h1>Objetivo 6</h1>
          <p>Assegurar a disponibilidade e a gestão sustentável da água e saneamento para todos</p>
        </div>
      </div>
    </div>
  </div>

  <div class="div6Columns" style="margin-left:80px !important; margin-right:80px !important;">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/7.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #fbc412">
          <h1>Objetivo 7</h1>
          <p>Assegurar o acesso confiável, sustentável, moderno e a preço acessível à energia para todos</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/8.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #a31c44">
          <h1>Objetivo 8</h1>
          <p>Promover o crescimento econômico sustentado, inclusivo e sustentável, o emprego pleno e produtivo e o
            trabalho decente para todos</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/9.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #f26a2e">
          <h1>Objetivo 9</h1>
          <p>Construir infraestruturas resilientes, promover a industrialização inclusiva e sustentável e fomentar a
            inovação</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/10.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #de1768">
          <h1>Objetivo 10</h1>
          <p>Reduzir a desigualdade dentro dos países e entre eles</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/11.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #f89d2a">
          <h1>Objetivo 11</h1>
          <p>Tornar as cidades e os assentamentos humanos inclusivos, seguros, resilientes e sustentáveis</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/12.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #bf8d2c">
          <h1>Objetivo 12</h1>
          <p>Assegurar padrões de produção e de consumo sustentáveis</p>
        </div>
      </div>
    </div>
  </div>

  <div class="div6Columns" style="margin-left:80px !important; margin-right:80px !important;">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/13.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #407f46">
          <h1>Objetivo 13</h1>
          <p>Tomar medidas urgentes para combater a mudança do clima e seus impactos*</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/14.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #1f97d4">
          <h1>Objetivo 14</h1>
          <p>Conservar e promover o uso sustentável dos oceanos, dos mares e dos recursos marinhos para o
            desenvolvimento sustentável</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/15.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #59ba47">
          <h1>Objetivo 15</h1>
          <p>Proteger, recuperar e promover o uso sustentável dos ecossistemas terrestres, gerir de forma sustentável as
            florestas, combater a desertificação, deter e reverter a degradação da terra e deter a perda</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/16.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #136a9f">
          <h1>Objetivo 16</h1>
          <p>Promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável, proporcionar o acesso à
            justiça para todos e construir instituições eficazes, responsáveis e inclusivas em todos os níveis</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/17.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color: #14496b">
          <h1>Objetivo 17</h1>
          <p>Fortalecer os meios de implementação e revitalizar a parceria global para o desenvolvimento sustentável</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/ods_logo_icon.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
        <div class="flip-card-back" style="background-color:white">
          <img src="http://www.agenda2030.com.br/static/home/images/ods_icons/ods_logo_icon.png" alt="Avatar"
            style="width:100%;height:200px;">
        </div>
      </div>
    </div>

    <div *ngFor="let p of listaPremiacao" style="margin-right:3px;margin-left:3px;margin-bottom:20px !important;" [hidden]="!isUsuarioPrefeitura()">
      <img [src]="p?.bannerPremiacaoConv"
        (click)='participarPremiacao(p.id)' alt="Avatar" style="width:100%;height:200px;">
    </div>

  </div>

