<div class="search-results" infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  [alwaysCallback]="true" [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="onScrollDown($event)"
  [scrollWindow]="false" [fromRoot]="true" [infiniteScrollContainer]="'.mat-drawer-content'">

  <section class="home-banner owl-carousel owl-theme" [hidden]="!boaPraticaDestaque">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-carousel"loading="lazy" [src]="boaPraticaDestaque?.urlImagem | async" alt="Imagem Boa Prática destaque">
          <div class="carousel-caption d-none d-md-block">
            <a style="color: white;" [routerLink]="'/boas-praticas/' + boaPraticaDestaque?.idBoaPratica"
              routerLinkActive="router-link-active" class="">
              <div style="position: absolute;bottom: 0;width:100%;">
                <h1 class="animated fadeInUp duration-3s delay-1s">{{boaPraticaDestaque?.titulo}}</h1>
                <h4 class="animated fadeInUp duration-3s delay-1s">{{boaPraticaDestaque?.subtitulo}}</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>

  <section class="news__section">
    <header>
      <h1>{{cidade?.nomeCidade ? cidade?.nomeCidade : 'Boas Práticas cadastradas por cidades'}}</h1>
    </header>

    <p [hidden]="boaPraticaDestaque">Esta cidade não cadastrou nenhuma Boa Prática</p>
    <div class="news__grid news__grid--3">
      <div class="news__grid-inner">
        <article (click)="irDetalheBoaPratica(item)" style="cursor: pointer;border:0;"
          *ngFor="let item of listBoasPraticas; let k = index">
          <header>
            <h2>
              <a href="{{gerarLinkBoaPratica(item)}}">{{item.titulo}}</a>
            </h2>
          </header>

          <a href="{{gerarLinkBoaPratica(item)}}">
            <figure>
              <img style=" height: 300px;width: 100%;object-fit: cover;" loading="lazy" [src]="item.urlImagem | async">
            </figure>
          </a>

          <p>
            {{pcsUtil.replaceHtmlTags(pcsUtil.subStringSemCortarTexto(item.subtitulo,190))}}
            <a style="color: #408559" [routerLink]="gerarLinkBoaPratica(item)">[Leia Mais]</a>
          </p>
        </article>
      </div>
    </div>
  </section>

</div>
