<div class="contentBody" style="position: relative;">
<mat-card>

<div class="row">

  <div class="col-md-8 col-lg-9 col-xs-12 col-sm-12">
    <h2>Cadastro de Material de Apoio</h2>
  </div>

  <div class="col-md-4 col-lg-3 col-xs-12 col-sm-12" style="text-align: right;">
    <button mat-flat-button color="primary" [routerLink]="['/planejamento-integrado/material-apoio/cadastrar']" class="btnCadastrar"
      id="btnCadastrar" matTooltip="Cadastrar" style="cursor: pointer !important; margin-bottom: 5px;" *ngIf="hasRole('ROLE_CADASTRAR_MATERIAL_APOIO')">
      <mat-icon>add</mat-icon>Cadastrar Material de Apoio
    </button>
  </div>

</div>

<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
  <mat-divider></mat-divider>
</div>

<br>
<br>

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <mat-card-title>Lista de Materiais de Apoio Cadastrados</mat-card-title>
  <mat-divider></mat-divider>
</div>

<div *ngIf="loading" class="loading-indicator">
  <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>

  <!-- Data Column -->
  <ng-container matColumnDef="dataPublicacao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="dataPublicacao">Data da publicação</th>
    <td mat-cell *matCellDef="let item">{{item.dataPublicacao | date:'dd/MM/yyyy'}}</td>
  </ng-container>

  <!-- Tipo Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="titulo">Título</th>
    <td mat-cell *matCellDef="let item">{{item.titulo}}</td>
  </ng-container>

  <!-- Municipio Column -->
  <ng-container matColumnDef="localExibicao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="localExibicao">Local Exibição</th>
    <td mat-cell *matCellDef="let item"> {{item.localExibicao}} </td>
  </ng-container>

  <!-- Título Column -->
  <ng-container matColumnDef="tipoDocumento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="tipoDocumento">Tipo de documento</th>
    <td mat-cell *matCellDef="let item"> {{item.tipoDocumento}} </td>
  </ng-container>

  <!-- Ações Column -->
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let item" class='m-card-title' data-label='Ações'>

      <button mat-flat-button color="primary" type="button" name="button"
        [routerLink]="['/planejamento-integrado/material-apoio/editar', item.id]" class="btnTabela" id="btnEditar" matTooltip="Editar" >
        <mat-icon> edit </mat-icon>
      </button>

      <button mat-flat-button color="warn" type="button" name="button"
        class="btnTabela" id="btnExcluir" matTooltip="Visualizar" (click)="excluirMaterialApoio(item.id)">
        <mat-icon> delete </mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator style="text-align: center !important;" class="float-none" [pageSizeOptions]="[10,25,50,100]"
  showFirstLastButtons></mat-paginator>

</mat-card>
</div>
